.App {
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.my-navbar {
  height: auto;
}

.eye-icons {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

.dashboard-wrapper {
  max-width: 1200px;
  /* border: 2px solid black; */
}

.dumbell-icon {
  margin-left: 10px;
}

.add-workout-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-workout-modal {
  /* background: black !important; */
  padding: 2rem;
  border-radius: 10px;
  width: 90% !important;
  max-width: 400px !important;
  border: 2px solid white;
  -webkit-box-shadow: 0 0 15px 5px white !important;
  box-shadow: 0 0 15px 5px white !important;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
